ÔÇëWARNÔÇë Unsupported engine: wanted: {"node":"22.21.1"} (current: {"node":"v20.12.2","pnpm":"10.24.0"})
-- CreateExtension
CREATE EXTENSION IF NOT EXISTS "pg_trgm";

-- CreateExtension
CREATE EXTENSION IF NOT EXISTS "pgcrypto";

-- CreateExtension
CREATE EXTENSION IF NOT EXISTS "unaccent";

-- CreateEnum
CREATE TYPE "order_status_type" AS ENUM ('Sin confirmar', 'Pendiente de compra', 'Lista para enviar', 'Vendida');

-- CreateEnum
CREATE TYPE "payment_method_type" AS ENUM ('No especificado', 'Efectivo', 'Transferencia', 'Tarjeta de d├®bito', 'Tarjeta de cr├®dito');

-- CreateEnum
CREATE TYPE "payment_status_type" AS ENUM ('Pendiente', 'Pago parcial', 'Pago completo');

-- CreateEnum
CREATE TYPE "user_role" AS ENUM ('ADMIN', 'USER');

-- CreateTable
CREATE TABLE "categories" (
    "category_id" SERIAL NOT NULL,
    "category_name" VARCHAR(255) NOT NULL,

    CONSTRAINT "categories_pkey" PRIMARY KEY ("category_id")
);

-- CreateTable
CREATE TABLE "newsletter_emails" (
    "id" SERIAL NOT NULL,
    "email" VARCHAR(255) NOT NULL,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "newsletter_emails_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "products" (
    "product_id" SERIAL NOT NULL,
    "product_name" VARCHAR(255) NOT NULL,
    "provider_id" INTEGER,
    "purchase_price" INTEGER NOT NULL,
    "sell_price" INTEGER,
    "resellers_price" INTEGER,
    "in_stock" BOOLEAN NOT NULL DEFAULT true,
    "category_id" INTEGER,
    "product_description" TEXT,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "product_slug" VARCHAR(255),
    "discount_percent" INTEGER DEFAULT 0,
    "subcategory_id" INTEGER,
    "stock" SMALLINT DEFAULT 0,
    "images" TEXT[],
    "deleted_at" DATE,

    CONSTRAINT "raws_products_pkey" PRIMARY KEY ("product_id")
);

-- CreateTable
CREATE TABLE "products_images" (
    "img_id" SERIAL NOT NULL,
    "product_id" INTEGER NOT NULL,
    "img_url" VARCHAR(255) NOT NULL,
    "img_alt" VARCHAR(255),

    CONSTRAINT "raws_images_pkey" PRIMARY KEY ("img_id")
);

-- CreateTable
CREATE TABLE "providers" (
    "provider_id" SERIAL NOT NULL,
    "provider_name" VARCHAR(255) NOT NULL,

    CONSTRAINT "providers_pkey" PRIMARY KEY ("provider_id")
);

-- CreateTable
CREATE TABLE "purchase_order_items" (
    "order_item_id" SERIAL NOT NULL,
    "order_id" INTEGER NOT NULL,
    "product_id" INTEGER NOT NULL,
    "quantity" INTEGER NOT NULL,
    "unit_price" INTEGER NOT NULL,
    "unit_cost" INTEGER DEFAULT 0,
    "subtotal" INTEGER DEFAULT (quantity * unit_price),
    "discount" INTEGER DEFAULT 0,
    "total" INTEGER DEFAULT ((quantity * unit_price) - discount),
    "date_added" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "purchase_order_items_pkey" PRIMARY KEY ("order_item_id")
);

-- CreateTable
CREATE TABLE "purchase_orders" (
    "order_id" SERIAL NOT NULL,
    "client_id" INTEGER,
    "user_id" INTEGER,
    "order_date" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "order_status" "order_status_type" NOT NULL,
    "payment_method" "payment_method_type" NOT NULL,
    "payment_status" "payment_status_type" NOT NULL,
    "client" TEXT,

    CONSTRAINT "purchase_orders_pkey" PRIMARY KEY ("order_id")
);

-- CreateTable
CREATE TABLE "subcategories" (
    "subcategory_id" SERIAL NOT NULL,
    "subcategory_name" VARCHAR(255) NOT NULL,
    "category_id" INTEGER,

    CONSTRAINT "subcategories_pkey" PRIMARY KEY ("subcategory_id")
);

-- CreateTable
CREATE TABLE "user" (
    "id" VARCHAR(255) NOT NULL DEFAULT (gen_random_uuid())::text,
    "name" VARCHAR(255) NOT NULL,
    "email" VARCHAR(255) NOT NULL,
    "email_verified" BOOLEAN NOT NULL DEFAULT false,
    "phone_number" VARCHAR(50),
    "phone_number_verified" BOOLEAN,
    "image" VARCHAR(255),
    "role" "user_role",
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "user_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "session" (
    "id" VARCHAR(255) NOT NULL DEFAULT (gen_random_uuid())::text,
    "expires_at" TIMESTAMP(6) NOT NULL,
    "token" VARCHAR(255) NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "ip_address" VARCHAR(255),
    "user_agent" TEXT,
    "user_id" VARCHAR(255) NOT NULL,

    CONSTRAINT "session_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "account" (
    "id" VARCHAR(255) NOT NULL DEFAULT (gen_random_uuid())::text,
    "account_id" VARCHAR(255) NOT NULL,
    "provider_id" VARCHAR(255) NOT NULL,
    "user_id" VARCHAR(255) NOT NULL,
    "access_token" TEXT,
    "refresh_token" TEXT,
    "idtoken" TEXT,
    "access_token_expires_at" TIMESTAMP(6),
    "refresh_token_expires_at" TIMESTAMP(6),
    "scope" TEXT,
    "password" TEXT,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "account_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "verification" (
    "id" VARCHAR(255) NOT NULL DEFAULT (gen_random_uuid())::text,
    "identifier" VARCHAR(255) NOT NULL,
    "value" VARCHAR(255) NOT NULL,
    "expiresAt" TIMESTAMP(6) NOT NULL,
    "createdAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "verification_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "categories_category_name_key" ON "categories"("category_name");

-- CreateIndex
CREATE UNIQUE INDEX "newsletter_emails_email_key" ON "newsletter_emails"("email");

-- CreateIndex
CREATE UNIQUE INDEX "unique_product_name" ON "products"("product_name");

-- CreateIndex
CREATE UNIQUE INDEX "unique_provider_name" ON "providers"("provider_name");

-- CreateIndex
CREATE INDEX "idx_purchase_order_items_order_id" ON "purchase_order_items"("order_id");

-- CreateIndex
CREATE UNIQUE INDEX "user_email_unique" ON "user"("email");

-- CreateIndex
CREATE UNIQUE INDEX "phone_number_unique" ON "user"("phone_number");

-- CreateIndex
CREATE UNIQUE INDEX "session_token_unique" ON "session"("token");

-- CreateIndex
CREATE INDEX "session_userid_idx" ON "session"("user_id");

-- CreateIndex
CREATE INDEX "account_userid_idx" ON "account"("user_id");

-- CreateIndex
CREATE INDEX "verification_identifier_idx" ON "verification"("identifier");

-- AddForeignKey
ALTER TABLE "products" ADD CONSTRAINT "fk_products_category" FOREIGN KEY ("category_id") REFERENCES "categories"("category_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "products" ADD CONSTRAINT "fk_products_provider" FOREIGN KEY ("provider_id") REFERENCES "providers"("provider_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "products" ADD CONSTRAINT "fk_products_subcategory" FOREIGN KEY ("subcategory_id") REFERENCES "subcategories"("subcategory_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "purchase_order_items" ADD CONSTRAINT "purchase_order_items_order_id_fkey" FOREIGN KEY ("order_id") REFERENCES "purchase_orders"("order_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "purchase_order_items" ADD CONSTRAINT "purchase_order_items_product_id_fkey" FOREIGN KEY ("product_id") REFERENCES "products"("product_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "subcategories" ADD CONSTRAINT "subcategories_category_id_fkey" FOREIGN KEY ("category_id") REFERENCES "categories"("category_id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "session" ADD CONSTRAINT "session_user_fkey" FOREIGN KEY ("user_id") REFERENCES "user"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "account" ADD CONSTRAINT "account_user_fkey" FOREIGN KEY ("user_id") REFERENCES "user"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

